Source: pymappergui
Section: python
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Tiago Bortoletto Vaz <tiago@debian.org>
Build-Depends: debhelper (>=7.0.50~), python-libmapper, python-wxgtk3.0
Standards-Version: 3.9.3
XS-Python-Version: >= 2.6
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/pymappergui.git
Vcs-Git: git://git.debian.org/git/pkg-multimedia/pymappergui.git
Homepage: https://github.com/tiagovaz/pymapper

Package: pymappergui
Architecture: any
Depends: python (>= 2.6), ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Cross-platform gui for libmapper
 Cross-platform gui for libmapper
